<div class="row", style = "border-bottom: 3px solid black;">
  		  <h3 style = "margin: 5px;"> Results </h3>
</div>
<% if @questions.any? %>
		<%= render partial: 'shared/flagquestions', collection: @questions %>
<% end %>