
<html>
<body class = "portfolio">
	<h1>Welcome</h1>
	<% if user_signed_in? %>
		<p> So far you have done <%= @count %> game<% if !(@count== 1) %>s<% end %>  </p>
		<p> Your high score is <%= @percent %>% on <%= @number %> question<% if !(@number== 1) %>s<% end %> </p>
	<% end %>
</body>
</html>



