</br>
</br>
</br>
<%= simple_form_for @result, :url => { :action => "create" } do |f| %>
	<div class = "row">
		<div class = "col-sm-4">
      		<%= f.input :name, label: "Select a topic", collection: @topic %>
    	</div>
    	<div class = "col-sm-4">
      		<%= f.input :lab, label: "Select a lab section", collection: @lab %>
    	</div>
    </div>
    <%= f.submit "Find Questions", class: "btn btn-medium btn-success" %>
<% end %>