<div class = "row" style = "padding: 5px; margin-bottom: 5px;">
	<div class = "col-md-3" style = "border-bottom: 1px solid black;">
		<p> <%= creations.name %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= Question.where(topic_id: creations.id).count %> </p>
	</div>
	<div class = "col-md-2" style = "border-bottom: 1px solid black;">
		<p> <%= Question.where(topic_id: creations.id, submitted: true).count %> </p>
	</div>
</div>