<div class = "row" style = "padding: 5px; border-bottom: 1px solid black">
	<div class = "col-md-3">
		<%= topics.name %>
	</div>
	<div class = "col-md-9">
		<%= link_to "Remove Topic", {controller: "topics", action: "remove", id: topics.id}, class: "btn btn-small btn-danger" %>
	</div>
</div>