<br/>
<br/>
<br/>
<%= simple_form_for @game, :url => { :action => "create" } do |f| %>
	<div class = "row">
		<div class = "col-sm-4">
			<%= f.label "Select a topic (leave blank for all topics)" %>
      		<%= f.input :name, collection: @topics %>
    	</div>
    </div>
    <%= f.submit "Start Studying", class: "btn btn-medium btn-success" %>
<% end %>