<%if !@question.nil? %>
	<%= render partial: 'shared/practices', collection: @question %>
<% else %>
	<p> You attempted <%= @game.number %> questions 
	<% if @game.number != 0 %>
		and got <%= @game.correct %> correct! </p>
		<p> You got <%= (@game.correct*100/@game.number*100) / 100 %>%! </p>
	<%else%>
		</p>
	<% end %>
<% end %>